:host {
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
}

.tb_num {
  font-size: 1.5em;
  text-align: right;
  min-width: 150px;
  color: rgb(139, 139, 139);
  border-bottom: 2px solid #E0E0E0;
  font-family: Roboto;
  padding-top: 7px;
  padding-bottom: 7px;
  height: 33px;
  width: 100%;
}

.tb_num_erro {
  font-size: 1.5em;
  text-align: right;
  min-width: 150px;
  color: rgb(255,90,78);
  border-bottom: 2px solid #E0E0E0;
  font-family: Roboto;
  padding-top: 7px;
  padding-bottom: 7px;
  height: 33px;
  width: 100%;
}

.tb_num_aferido {
  font-size: 1.5em;
  text-align: right;
  min-width: 150px;
  color:rgb(0,92,169);
  border-bottom: 2px solid #E0E0E0;
  font-family: Roboto;
  padding-top: 7px;
  padding-bottom: 7px;
  height: 33px;
  width: 100%;
}

.tb_num_historico {
  font-size: 1.5em;
  text-align: right;
  min-width: 150px;
  color:rgb(91,192,222);
  border-bottom: 2px solid #E0E0E0;
  font-family: Roboto;
  padding-top: 7px;
  padding-bottom: 7px;
  height: 33px;
  width: 100%;
}

.tb_nome {
  font-size: 1em;
  text-align: left;
  border-bottom: 2px solid #E0E0E0;
  font-family: futura35;
  padding-top: 7px;
  padding-bottom: 7px;
  height: 33px;
  width: 100%;
}

.tb_nome_erro {
  font-size: 1em;
  text-align: left;
  color: rgb(255,90,78);
  border-bottom: 2px solid #E0E0E0;
  font-family: futura35;
  font-weight: bold;
  padding-top: 7px;
  padding-bottom: 7px;
  height: 33px;
  width: 100%;
}

.tb_nome_aferido {
  font-size: 1em;
  text-align: left;
  color: rgb(0,92,169);
  border-bottom: 2px solid #E0E0E0;
  font-family: futura35;
  font-weight: bold;
  padding-top: 7px;
  padding-bottom: 7px;
  height: 33px;
  width: 100%;
}

.tb_nome_historico {
  font-size: 1em;
  text-align: left;
  color: rgb(91,192,222);
  border-bottom: 2px solid #E0E0E0;
  font-family: futura35;
  font-weight: bold;
  padding-top: 7px;
  padding-bottom: 7px;
  height: 33px;
  width: 100%;
}

.tb_sucesso {
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  align-items: center;
  color: rgb(61, 74, 88);
  background-color: rgba(185, 211, 18, 0.89);
  border-radius: 5px;
  font-family: futura35;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid #E0E0E0;
}

.tb_atencao {
  font-size: 1em;
  text-align: left;
  border-bottom: 2px solid #E0E0E0;
  font-family: futura35;
  padding-top: 16px;
}

.tb_problema {
  font-size: 1em;
  text-align: left;
  border-bottom: 2px solid #E0E0E0;
  font-family: futura35;
  padding-top: 16px;
}
