<kendo-chart class="kendo-content2">
  <kendo-chart-legend position="bottom" orientation="horizontal"></kendo-chart-legend>
  <kendo-chart-tooltip format="{0:n}"></kendo-chart-tooltip>
  <kendo-chart-value-axis>
    <kendo-chart-value-axis-item [title]="{ text: 'Quantidade' }" format="{0:n}">
    </kendo-chart-value-axis-item>
  </kendo-chart-value-axis>

  <kendo-chart-category-axis>
    <!-- <kendo-chart-category-axis-item [title]="{ text: 'Mês' }"> -->
    <kendo-chart-category-axis-item>
    </kendo-chart-category-axis-item>
  </kendo-chart-category-axis>

  <kendo-chart-series>

    <kendo-chart-series-item name="AFERIDO" type="area" [data]="acumulados" field="QTD_AFER_ACUM_ANO" categoryField="MES_ANO">
      <kendo-chart-series-item-labels visible="true" format="{0:n}"></kendo-chart-series-item-labels>
    </kendo-chart-series-item>
    <kendo-chart-series-item type="line" [data]="acumulados">
    </kendo-chart-series-item>
    <kendo-chart-series-item name="ERROS" type="area" [data]="acumulados" field="QTD_ERRO_AFER_ACUM_ANO" categoryField="MES_ANO">
      <kendo-chart-series-item-labels visible="true" format="{0:n}"></kendo-chart-series-item-labels>
    </kendo-chart-series-item>

  </kendo-chart-series>

</kendo-chart>